.navbar {
  position: fixed;
  top: 0;
  left: 22vh;
  right: 22vh;
  z-index: 1000; /* Ensures it stays above other elements */
}

.navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    height: 40px;
    width: 40px;
    margin-right: 1rem;
    border-radius: 50%; /* Makes the logo circular */
    object-fit: cover; /* Ensures the logo fits well within the circle */
  }
  
  .search-input {
    padding: 0.5rem 0.5rem; /* Smaller padding for a more compact size */
    width: 50vh; /* Adjusts the width */
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    margin-right: 1rem;
  }
  
  .search-input:focus {
    transform: scale(1.05);
  }
  